@{
    Layout = null;
}

@model Vault.Controllers.LoginController

<div>
    <p>
        Vault is a simple file-storage system. Simply upload files and Vault will take care of them.
        This eliminates the possiblity of losing files or running out of storage...
    </p>

    <h3>Icons</h3>
    <p>
        Freepik from <a target="_blank" href="http://flaticon.com">www.flaticon.com</a>.<br>
        <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a target="_blank" href="http://flaticon.com">www.flaticon.com</a>.<br>
        <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a target="_blank" href="http://flaticon.com">www.flaticon.com</a>.
    </p>
</div>