@{
    Layout = null;
}
@model Vault.Controllers.LoginController
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vault</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .swal-overlay--show-modal, .swal-modal {
            animation: none !important;
            outline: 0;
        }

        .dz-preview {
            display: none;
        }

        .filepicker {
            display: none;
        }

        .swal-content:last-child {
            margin-bottom: 0;
        }

        .swal-content {
            padding: 33px;
            margin: 0;
            font-size: medium;
        }
    </style>
    <meta name="theme-color" content="#262525" />
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
    <div id="app"></div>

    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>