@{
    Layout = null;
}

@model Vault.Controllers.LoginController

<div>
    <center>
        <p>You can create folders to organise your files...</p><br />
        <a onclick="processFolderCreate()" style="cursor:pointer;" class="btn black">Create a Folder</a>
        <hr>
        <p>You can sort files to orangize your files...</p><br />
        <a onclick="processSortBy(0)" style="cursor:pointer;" class="btn">Extension</a>
        <a onclick="processSortBy(1)" style="cursor:pointer;" class="btn">Size</a>
        <a onclick="processSortBy(2)" style="cursor:pointer;" class="btn">Name</a>
        <a onclick="processSortBy(3)" style="cursor:pointer;" class="btn">Date</a>
    </center>
</div>