@{
    Layout = null;
}

@model Vault.Controllers.LoginController

<div>
    <center>
        <p>You can create folders to organise your files...</p><br />
        <a onclick="processFolderCreate()" style="cursor:pointer;" class="btn black">Create a Folder</a>
    </center>
</div>