input[type=password] {
	outline: 0;
	border: 0;
	border-bottom: 2px solid rgba(0,0,0,.09);
	padding: 10px;
	margin: 0 auto 25px;
	width: 170px;
	text-align: left;
	border-radius: 2px;
	color: #000;
	display: block
}

input[type=password]:focus {
	border-bottom: 2px solid rgba(0,0,0,.19)
}

input[type=text] {
	outline: 0;
	border: 0;
	border-bottom: 2px solid rgba(0,0,0,.09);
	padding: 10px;
	margin: 0 auto 15px;
	width: 170px;
	text-align: left;
	border-radius: 2px;
	color: #000;
	display: block
}

input[type=text]:focus {
	border-bottom: 2px solid rgba(0,0,0,.19)
}

hr {
	border: 0;
	height: 0;
	margin: 30px 0 17px;
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid hsla(0,0%,100%,.3);
}

.welcome-title {
	margin-top: 21%;
	color: #484848;
	font-size: 23px;
	margin-bottom: -6px;
	font-family: Abhaya Libre,serif;
	padding: 20px
}

.welcome-button {
	background: #fff;
	border: 4px solid #3e3e3e;
	border-radius: 25px;
	color: #5a5a5a;
	font-size: 17px;
	font-weight: 700;
	padding: 8px 29px;
	text-decoration: none;
	text-align: center;
	min-width: 60px;
	position: relative;
	transition: all .3s ease;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.welcome-button:hover {
	background-color: #3e3e3e;
	color: #fff
}

.welcome-button:active {
	background-color: #000;
	border: 4px solid #000;
	color: #fff
}

.loggged-in-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	background: #fff;
	-webkit-animation: fadein .4s;
	animation: fadein .4s
}

.button {
	outline: 0;
	display: inline;
	background-color: #fff;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	color: #444;
	border: 0;
	border-radius: 2px;
	cursor: default;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	height: 30px;
	line-height: 27px;
	min-width: 73px;
	padding: 0 7px;
	text-decoration: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.button:hover {
	background-color: #d6d6d6;
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	border: 1px solid #c6c6c6;
	color: #333;
	box-shadow: 0 1px 1px rgba(0,0,0,.1)
}

.button:active {
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	color: #000
}

.button.inverse {
	background: #fff;
	color: #545454;
	cursor: pointer
}

.error-message {
	color: #f15151;
	border-bottom: 1px solid rgba(253,191,191,.72941);
	font-size: 14px;
	margin: -50px 0 15px;
	padding: 15px;
	background: rgba(255,0,0,.12157)
}

.login-container {
	position: relative;
	background-color: #fff;
	border-radius: 4px;
	overflow-y: auto;
	min-height: 165px;
	width: 300px;
	float: right;
	margin-bottom: 15px;
	padding-top: 50px;
	padding-bottom: 35px;
	box-shadow: 0 1px 12px 0 rgba(0,0,0,.3);
	text-align: center
}

.cog-wheel {
	height: 136px;
	opacity: .2;
	margin: 15px 0 30px;
	-webkit-animation: rotation 1.5s linear infinite;
	transform-origin: 50% 50%
}

.remember-checkbox {
	display: block;
	width: 165px;
	margin-top: -6px;
	margin-left: 57px;
	margin-bottom: 15px;
	position: relative;
	padding-left: 20px;
	cursor: pointer;
	color: #a5a4a4;
	font-size: 12px;
	text-align: left;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.remember-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0
}

.remember-box {
	background-color: #e0e0e0;
	padding: 10px;
	border-radius: 10px;
	text-align: left;
	overflow: hidden
}

div .button {
	margin: 8px 15px 0 0
}

.checkmark {
	position: absolute;
	top: 1px;
	left: 0;
	height: 10px;
	width: 10px;
	background-color: #eee;
	border-radius: 2px;
	border: 1px solid #d2cccc
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none
}

.remember-checkbox:hover input ~ .checkmark {
	background-color: #ccc
}

.remember-checkbox input:checked ~ .checkmark:after {
	display: block
}

.remember-checkbox .checkmark:after {
	left: 3px;
	top: 1px;
	width: 2px;
	height: 5px;
	border: solid #5f5f5f;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg)
}

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg)
	}

	to {
		-webkit-transform: rotate(359deg)
	}
}

@media screen and (max-width: 965px) {
	.login-container {
		float: none;
		margin: 0 auto
	}
}

@keyframes fadein {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}
