html {
    height: 100%;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: #191919;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.btn-close-viewer {
    position: absolute;
    border: 1px solid #2f2f2f;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-left: 10px;
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 4px;
    top: 15px;
    right: 65px;
    cursor: pointer;
    background: url(../images/x.svg);
    background-size: 20px;
    background-color: #1b1b1b;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-close-viewer:hover {
    background-color: #2b2b2b;
}

.pdf-viewer {
    position: absolute;
    left: 0;
    top: 15px;
    width: 100%;
    height: 100%;
    border: none;
    max-height: none;
    max-width: none;
}

a {
    color: #f9f9f9;
}

hr {
    border: 0;
    height: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(156, 156, 156, 0.3);
}

table {
    width: 100%;
}

td {
    padding: -150px;
    text-align: center;
}

input[type=password] {
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #f7f7f7;
    padding: 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: black;
}

input[type=text] {
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #f7f7f7;
    padding: 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: black;
}

#uploadForm input[type=file] {
    padding: 25px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#uploadForm input[type=file]:focus {
    outline: 0;
}

#file-viewer:active {
    display: none;
}

#file-viewer {
    display: none;
    position: fixed;
    top: 0;
    z-index: 9;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#000000eb 1%, #1e1e1ef2 99%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: fadein 0.2s;
    -moz-animation: fadein 0.2s;
    -ms-animation: fadein 0.2s;
    -o-animation: fadein 0.2s;
    animation: fadein 0.2s;
}

.file-viewer-content {
    position: relative;
    background-color: #232323;
    border-radius: 4px;
    overflow-y: auto;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-bottom: 15px;
    margin-top: 200px;
    padding-top: 45px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 40px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    border: 2px solid #2d2d2d;
}

.file-viewer-topbar {
    position: absolute;
    left: 10px;
    top: 0;
    z-index: -20;
    color: #c5c5c5;
    overflow: hidden;
    height: 50px;
}

.file-viewer-icon {
    margin-right: 5px;
    margin-bottom: -9px;
}

.file-viewer-preview {
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
    margin-top: 65px;
    display: inherit;
    box-shadow: 6px 3px 20px 3px #00000091;
    -webkit-animation: fadein 0.8s;
    -moz-animation: fadein 0.8s;
    -ms-animation: fadein 0.8s;
    -o-animation: fadein 0.8s;
    animation: fadein 0.8s;
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
}

#file-viewer-box {
    margin-bottom: 30px;
}

.btn-download {
    position: absolute;
    border: 2px solid #3c3c3c;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-left: 10px;
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 4px;
    top: 15px;
    right: 20px;
    cursor: pointer;
    background: url(../images/ui/download.svg);
    background-size: 20px;
    background-color: #1b1b1b;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-download:hover {
    background-color: #2b2b2b;
}

input[type=submit] {
    background: #313131;
    border: 1px solid #525252;
    padding: 10px;
    border-radius: 4px;
    color: #b9b9b9;
    cursor: pointer;
}

input[type=submit]:hover {
    border: 1px solid #828282;
}

@media all and (max-width: 535px) {
    .grid-file-text {
        max-width: 90% !important;
        word-break: keep-all;
        white-space: nowrap;
    }

    .grid-text-right {
        display: none;
    }
}

#sorting-arrow {
    height: 20px;
    margin-bottom: -5px;
    cursor: pointer;
    filter: invert(0.45);
}

#sorting-arrow-down {
    height: 20px;
    margin-bottom: -5px;
    cursor: pointer;
    transform: rotate(180deg);
    filter: invert(0.45);
}

#sorting-arrow:hover {
    filter: invert(0.25);
}

#sorting-arrow-down:hover {
    filter: invert(0.25);
}

.sorting-option-left {
    text-decoration: none;
    color: #6d6d6d;
    cursor: pointer;
}

.sorting-option {
    text-decoration: none;
    float: right;
    color: #6d6d6d;
    cursor: pointer;
}

#sort-box {
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid #0000002e;
    margin-bottom: 5px;
}

.alert-body {
    background-color: #424242;
    border-radius: 5px;
    color: white;
    max-width: 420px;
    word-wrap: break-word;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 30px;
    -moz-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.alert-body a {
    color: #ffffff !important;
}

div .button {
    margin: 0 15px 15px 0;
}

.logo {
    position: absolute;
    left: 20px;
    top: 5px;
    -webkit-filter: invert(0.90);
    filter: invert(0.90);
}

.title {
    font-size: 8px;
    cursor: pointer;
}

.menu {
    overflow: overlay;
    color: #e6e5e5;
    background-color: #424242;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;
}

.menu-options {
    list-style: none;
    padding: 10px 0;
}

.menu-option {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
}

.menu-option-color-picker {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 15px 10px 20px;
    cursor: pointer;
    display: inline-flex;
}

.menu-option:hover {
    background: rgba(0, 0, 0, 0.2);
}

.color-circle {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #5f5f5f;
}

.color-circle:hover {
    box-shadow: inset 0px 0px 0px 2px #000;
}

.orange {
    background-color: #ffac00;
}

.purple {
    background-color: #9c1cff;
}

.green {
    background-color: #06b73b;
}

.red {
    background-color: #d63131;
}

.blue {
    background-color: #0081fe;
}

.topbar {
    position: relative;
    height: 4em;
    line-height: 4;
    padding: 0 30px 0 2em;
    width: 100%;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#circler {
    margin: 20px;
    width: 200px;
    height: 200px;
    position: relative;
}

.myImg-modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(20,20,20,0.5)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(20,20,20,0.5) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(20,20,20,0.5) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(20,20,20,0.5) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%, rgba(20,20,20,0.5) 100%);
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 0.3s;
    animation-name: fadein;
    animation-duration: 0.3s;
}

.myImg-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    margin-top: 50px;
    max-width: 700px;
    -webkit-box-shadow: 0 4px 15px 2px rgba(0,0,0,0.35);
    box-shadow: 0 4px 15px 2px rgba(0,0,0,0.35);
    margin-bottom: 50px;
}

#captionTag {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: black;
    padding: 10px 0;
    height: 150px;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: translateX(-175px) translateY(-500px);
        transform: translateX(-175px) translateY(-500px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes zoom {
    from {
        -moz-transform: scale(1.25) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -webkit-transform: scale(1.25) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1.25) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1.25) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1.25) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.closeThis {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ffffff;
    text-shadow: 2px 2px 6px rgba(27, 27, 27, 0.48);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeThis:hover,
.closeThis:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .myImg-modal-content {
        width: 100%;
    }
}

#modelLoading {
    margin-top: 300px;
}

.loader {
    border: 4px solid rgba(238, 238, 238, 0);
    border-radius: 50%;
    border-top: 4px solid gray;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 0.3s linear infinite;
    animation: spin 0.3s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes jello {
    11.1% {
        transform: none
    }

    22.2% {
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }

    33.3% {
        transform: skewX(6.25deg) skewY(6.25deg)
    }

    44.4% {
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }

    55.5% {
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }

    66.6% {
        transform: skewX(-0.78125deg) skewY(-0.78125deg)
    }

    77.7% {
        transform: skewX(0.390625deg) skewY(0.390625deg)
    }

    88.8% {
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg)
    }

    100% {
        transform: none
    }
}

.content {
    position: relative;
    max-width: 1200px;
    margin-bottom: 15px;
    margin: 0 auto;
}

#file-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#file-list > li {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    margin: 10px;
}


#file-list a {
    color: black;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-ms-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-o-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.button {
    display: inline-block;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    color: #444;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 8px;
    text-decoration: none;
}

.button:hover {
    background-color: #F8F8F8;
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #C6C6C6;
    color: #333;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
}

.button.blue {
    background-color: #4D90FE;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
    background-image: linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #3079ED;
    color: white;
}

.button.blue:hover {
    border: 1px solid #2F5BB7;
    background-color: #357AE8;
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
    background-image: linear-gradient(top, #4d90fe, #357ae8);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.button.default:active {
    -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .1);
    color: black;
}

.button.blue:active {
    -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .3);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .3);
}

.button.blue:focus {
    outline: 0 !important;
}

.button.default:focus {
    outline: 0 !important;
}

.info {
    position: relative;
    margin: .75em 0;
    padding-left: 2em;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA/ElEQ…Gy24jVNA0/SNwoB0FAWZZpQwrmLZ1RVhDzMX2bPvYx/fOcPw4RVhRfIzFWAAAAAElFTkSuQmCC) no-repeat left top;
    font-size: 11px;
    line-height: 1.5;
}

.topbar-hider {
    position: absolute;
    right: 10px;
    width: 200px;
    height: 51px;
    z-index: 1;
    background: #191919;
    box-shadow: -7px -1px 20px 1px #191919;
}

.myfiles {
    max-width: 1130px;
    color: white;
}

.btnSettings {
    position: absolute;
    border: 2px solid #404040;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-left: 10px;
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 4px;
    top: 14px;
    z-index: 2;
    right: 48px;
    background: url(../images/ui/settings_white.svg);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333;
}

.btnSettings:hover {
    background-color: #525252;
    cursor: pointer;
}

.btnLogout {
    position: absolute;
    border: 2px solid #404040;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-left: 10px;
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 4px;
    top: 14px;
    right: 10px;
    z-index: 2;
    background: url(../images/ui/logout_white.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333;
}

.btnLogout:hover {
    background-color: #525252;
    cursor: pointer;
}

.btnHelp {
    position: absolute;
    border: 2px solid #404040;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-left: 10px;
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 4px;
    top: 14px;
    right: 86px;
    z-index: 2;
    background: url(../images/ui/search_white.svg);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333;
}

#search-box {
    margin: 0 auto;
    display: inherit;
    width: 100%;
    box-sizing: border-box;
    max-width: 1020px;
    margin-top: 20px;
    background: transparent;
    color: white;
    font-size: 3em;
    border-bottom: 3px solid #464646;
}

#search-content {
    margin: 0 auto;
    max-width: 1020px;
    padding-top: 14px;
    min-height: 90%;
    background: #25252552;
    box-shadow: 0px 0px 30px 3px #00000014;
}

#search-content .grid-text-right {
    color: #696868;
}

#search-content .grid-file-text {
    color: #c5c5c5;
}

#close-button {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 4px;
    top: 45px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
    background: url(../images/x.svg);
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

@media all and (max-width: 1020px) {
    #close-button {
        display: block;
    }
}

.btnHelp:hover {
    background-color: #525252;
    cursor: pointer;
}

.btnUpload {
    position: absolute;
    background-color: #f5f5f5;
    border: 2px solid #404040;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-left: 10px;
    height: 30px;
    width: 30px;
    padding: 0;
    z-index: 2;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    top: 14px;
    right: 130px;
    background: url(../images/ui/upload_white.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333;
}

.btnUpload:hover {
    background-color: #525252;
    cursor: pointer;
}

.btnSort {
    position: absolute;
    border: 2px solid #404040;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-left: 10px;
    height: 30px;
    width: 30px;
    padding: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    top: 14px;
    right: 165px;
    z-index: 2;
    background: url(../images/ui/newfolder_white.svg);
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333;
}

.btnSort:hover {
    background-color: #525252;
    cursor: pointer;
}

.btnHome {
    position: absolute;
    background-color: #f5f5f5;
    border: 2px solid #f5f5f5;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-left: 10px;
    height: 30px;
    width: 30px;
    padding: 0;
    z-index: 2;
    border-radius: 4px;
    top: 14px;
    right: 48px;
    background: url(../images/ui/home.png) 7px 7px no-repeat;
    background-color: #f5f5f5;
}

.btnHome:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.btnDelete {
    background-color: #f5f5f5;
    border: 2px solid #f5f5f5;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-left: -25px;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    background: url(../images/ui/cross.png) 7px 7px no-repeat;
    background-color: #f5f5f5;
}

.btnDelete:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.btnDownload {
    background-color: #f5f5f5;
    border: 2px solid #f5f5f5;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-left: -25px;
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 4px;
    background: url(../images/ui/download.png) 7px 7px no-repeat;
    background-color: #f5f5f5;
}

.btnDownload:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.table-content {
    position: relative;
    background-color: white;
    border-radius: 4px;
    overflow-y: auto;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    border: 2px solid #fff;
}

.x-button {
    position: absolute;
    margin-left: 22px;
    margin-top: -1px;
    cursor: pointer;
}

#myfiles {
    overflow: hidden;
}

.gridItem-folder {
    width: 150px;
    border-radius: 3px;
    height: 6px;
    margin: -3px;
    display: inline-block;
    margin-right: 10px;
    border-bottom: 1px solid #171717;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.09);
    padding: 17px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

.gridItem {
    width: 100%;
    height: 6px;
    display: inline-block;
    padding: 21px;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
}

.gridItem:hover {
    background-color: #0000000a;
}

#share-checkbox {
    display: block;
}

#share-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#share-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.share-box {
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    overflow: hidden;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #5a5a5a;
}

#share-checkbox:hover input ~ .checkmark {
    background-color: #292929;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

#share-checkbox input:checked ~ .checkmark:after {
    display: block;
}

#share-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#progressbar {
    background-color: black;
    border-radius: 8px;
    height: 8px;
    padding: 2px;
}

progress::-webkit-progress-bar {
    background: black;
}

progress::-webkit-progress-value {
    border-radius: 8px;
    background: white;
}

progress::-moz-progress-bar {
    border-radius: 8px;
    background: white;
}

.gridItem.hidden {
    opacity: 0;
    animation: fadeout 0.4s;
}

.gridItem.launch {
    animation: fadein 0.2s
}

.gridItem img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.grid-file-icon {
    height: 37px;
    float: left;
    width: 32px;
    margin-top: -19px;
    margin-left: -7px;
    pointer-events: none;
    outline: none;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-icon {
    height: 37px;
    float: left;
    width: 32px;
    margin-top: -15px;
    margin-left: -7px;
    pointer-events: none;
    outline: none;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-position: center;
}

#file-listing {
    background-color: #272727;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.09);
    margin-bottom: 5px;
    padding-bottom: 6px;
    margin-left: 10px;
    margin-right: 10px;
    display: none;
}

.grid-file-text {
    font-size: 13px;
    margin-top: -8px;
    margin-left: 8px;
    color: #efefeff2;
    float: left;
    max-width: 50%;
    overflow: hidden;
    height: 16px;
}

.grid-text {
    font-size: 13px;
    margin-top: -4px;
    margin-left: 29px;
    color: #fffffff2;
    pointer-events: none;
    width: 125px;
    overflow: hidden;
    height: 15px;
}

.grid-text-right {
    font-size: 13px;
    margin-top: -8px;
    color: #afafaff2;
    pointer-events: none;
    float: right;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0,0,0,0.2);
}

@media all and (max-width: 800px) {
    #uploadForm input[type=file] {
        width: 80px;
    }

    table {
        width: 100%;
        margin-top: 50px;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        border: none;
        white-space: normal;
        text-align: center;
    }

    .btnDownload {
        margin: 0px;
        width: 98%;
        background: url(../images/ui/download.png) 50% 7px no-repeat;
        background-color: #f5f5f5;
        margin-bottom: 25px;
    }

    .btnDelete {
        margin: 0px;
        width: 98%;
        background: url(../images/ui/cross.png) 50% 7px no-repeat;
        background-color: #f5f5f5;
    }

    td:before {
        position: absolute;
        width: 45%;
        white-space: nowrap;
        text-align: center;
        font-weight: bold;
    }

    td:before {
        content: attr(data-title);
    }
}

.wrap {
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 40px;
}

p {
    margin-bottom: 20px;
    font-size: 14px;
}

.stage {
    border-radius: 20px;
    margin-top: 17%;
    background-color: #e7e7e7;
}

.btn {
    background: #428bca;
    border: #357ebd solid 1px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    margin: 2px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;
}

.btn:hover {
    background: #357ebd;
}

.btn.black {
    background: transparent;
    border: #797979 solid 3px;
    border-radius: 25px;
    color: #e4e4e4;
    font-size: 11px;
    font-weight: bold;
    padding: 8px 29px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: all .2s ease;
    cursor: pointer;
    user-select: none;
}

.btn.black:hover {
    background: #797979;
    color: #1f1f1f;
}

.btn.btn-big {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
}

.btn-close {
    color: #aaaaaa;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}

.btn-close:hover {
    color: #919191;
}

.modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.modal:target:before {
    display: block;
}

.modal:target .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    display: block;
}

.modal-dialog {
    background: #fefefe;
    border: #333333 solid 1px;
    border-radius: 5px;
    margin: 0 auto;
    position: fixed;
    display: none;
    left: 10%;
    z-index: 11;
    width: 75%;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal-body {
    padding: 20px;
    word-wrap: break-word;
}

.modal-header,
.modal-footer {
    padding: 10px 20px;
}

.modal-header {
    border-bottom: #eeeeee solid 1px;
}

.modal-header h2 {
    font-size: 20px;
}

.modal-footer {
    border-top: #eeeeee solid 1px;
    text-align: right;
}

#close {
    display: none;
}

.green-icon {
    box-shadow: inset 0px 0px 0px 2px #353535;
    background-color: #2d2d2d;
}

.purple-icon {
    box-shadow: inset 0px 0px 0px 2px #353535;
    background-color: #2d2d2d;
}

.orange-icon {
    box-shadow: inset 0px 0px 0px 2px #353535;
    background-color: #2d2d2d;
}

.blue-icon {
    box-shadow: inset 0px 0px 0px 2px #353535;
    background-color: #2d2d2d;
}

.red-icon {
    box-shadow: inset 0px 0px 0px 2px #353535;
    background-color: #2d2d2d;
}

#folder-listing {
    padding-left: 10px;
}

#folder-path {
    position: absolute;
    left: 100px;
    top: 22px;
    height: 17px;
    overflow: hidden;
    font-size: 15px;
    color: #5d5c5c;
}

#folder-path a {
    color: #5d5c5c;
    text-decoration: none;
}

#snack-bar-upload {
    padding: 15px;
    max-width: 500px;
    color: #afafaf;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    left: 10px;
    right: 10px;
    bottom: 8%;
    border-radius: 5px;
    background-color: #3a3a3a;
    box-shadow: 1px 4px 12px 0px #00000052;
    animation: fadein 0.6s;
    display: none;
}

#snack-bar-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 5px solid #2c80ff;
}

#snack-bar-loader {
    position: absolute;
    border: 4px solid rgba(238, 238, 238, 0);
    border-radius: 50%;
    border-top: 4px solid #2c80ff;
    width: 16px;
    height: 16px;
    -webkit-animation: spin 0.3s linear infinite;
    animation: spin 0.3s linear infinite;
    top: 10px;
    display: none;
}

#snack-bar-text {
    margin-left: 36px;
}

#snack-bar-x {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 10px;
    position: absolute;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #c14141;
    animation: fill-red .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    display: none;
}

#snack-bar-checkmark {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 10px;
    position: absolute;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    display: none;
}

#snack-bar-checkmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

#snack-bar-checkmark-check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

#snack-bar-x-check {
    fill: white;
    opacity: 0;
    animation: fade-x 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fade-x {
    100% {
        opacity: 1;
    }
}


@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}

@keyframes fill-red {
    100% {
        box-shadow: inset 0px 0px 0px 30px #c14141;
    }
}

#loader-horizontal {
    height: 4px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 10;
    background-color: transparent;
    display: none;
}

#loader-horizontal:before {
    display: block;
    position: absolute;
    content: "";
    left: -500px;
    width: 30%;
    height: 4px;
    background-color: white;
    animation: loading 1s linear infinite;
}

.btn-download-viewer {
    position: absolute;
    border: 1px solid #2f2f2f;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-left: 10px;
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 4px;
    top: 15px;
    right: 20px;
    cursor: pointer;
    background: url(../images/ui/download.svg);
    background-size: 20px;
    background-color: #1b1b1b;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-download-viewer:hover {
    background-color: #2b2b2b;
}

@keyframes loading {
    from {
        left: -600px;
    }

    to {
        left: 100%;
    }
}
