.sweet-overlay {
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(20,20,20,0.5)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(20,20,20,0.5) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(20,20,20,0.5) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(20,20,20,0.5) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%, rgba(20,20,20,0.5) 100%);
    outline: 0;
}

.sweet-alert {
    background-color: #fff;
    padding-top: 45px;
    border: none;
    -moz-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.sweet-alert h2 {
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    font-weight: 400;
    color: #6b6b6b;
    margin: 20px 0;
    font-size: 2.2em;
    line-height: 0.8;
    text-align: center;
    padding: 10px 19px;
}

.sweet-alert p {
    color: #797979;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    text-align: center;
    float: none;
    margin: 0;
    padding-left: 8px;
    line-height: normal;
}

.sweet-alert button {
    display: inline-block;
    background: white !important;
    border: 3px solid rgb(121, 121, 121);
    border-radius: 25px;
    color: rgb(121, 121, 121);
    font-size: 11px;
    font-weight: bold;
    padding: 8px 29px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    margin: 2px;
    margin-bottom: 13px;
    position: relative;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    user-select: none;
}

.sweet-alert button:hover, .sweet-alert button:focus {
    border-color: #949494;
}

.sweet-alert button.confirm {
    background: #000000;
}

.sweet-alert button.cancel {
    background: white;
    border: 0;
}

.sweet-alert button.cancel:focus {
    box-shadow: none !important;
}

.sweet-alert .sa-icon:not(.sa-custom) {
    transform: scale(0.8);
    margin-bottom: -10px;
    margin-top: -10px;
}

.sweet-alert input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c9c9c9;
    color: #212121;
    background-color: white;
    padding: 10px;
    padding-bottom: 8px;
    height: auto;
    box-shadow: none;
}

.sweet-alert input:focus {
    border: none;
    border-bottom: 1px solid #000000;
    box-shadow: inset 0 -1px 0 #000000;
}

.sweet-alert fieldset {
    padding-left: 20px;
    padding-right: 20px;
}

.sweet-alert fieldset .sa-input-error {
    display: none;
}

.sweet-alert .sa-error-container {
    display: none;
    background: none;
    height: auto;
    padding: 0 24px;
    margin: 0 -20px;
    text-align: left;
}

.sweet-alert .sa-error-container.show {
    padding: 0 24px;
    display: block;
}

.sweet-alert .sa-error-container.show ~ fieldset input {
    background: red;
    border-bottom: 1px solid #d9453c;
    box-shadow: inset 0 -1px 0 #d9453c;
}

.sweet-alert .sa-error-container .icon {
    display: none;
}

.sweet-alert .sa-error-container p {
    color: #d9453c;
    margin-top: 0;
}

@-webkit-keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg), scale(0.5);
        -webkit-transform: rotateX(100deg), scale(0.5);
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg), scale(0.5);
        -webkit-transform: rotateX(0deg), scale(0.5);
        opacity: 1;
    }
}

@keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg), scale(0.5);
        -webkit-transform: rotateX(100deg), scale(0.5);
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg), scale(0.5);
        -webkit-transform: rotateX(0deg), scale(0.5);
        opacity: 1;
    }
}
