body {
    background-color: #1e1e1e;
    background-image: linear-gradient(black 1%, #1e1e1e 99%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: fadein 0.8s;
    -moz-animation: fadein 0.8s;
    -ms-animation: fadein 0.8s;
    -o-animation: fadein 0.8s;
    animation: fadein 0.8s;
}

a {
    font-family: sans-serif;
}

.content {
    position: relative;
    background-color: #232323;
    border-radius: 4px;
    overflow-y: auto;
    max-width: 300px;
    color: white;
    margin-bottom: 15px;
    margin-top: 200px;
    padding-top: 45px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 40px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    border: 2px solid #2d2d2d;
    float: none;
}

.close-info-button {
    background: #131313;
    border: 1px solid #232323;
    padding: 10px 35px;
    border-radius: 4px;
    color: #b9b9b9;
    cursor: pointer;
    width: 45px;
    text-align: center;
}

    .close-info-button:hover {
        border: 1px solid #828282;
        outline: 0;
    }

input[type=submit] {
    background: #313131;
    border: 1px solid #525252;
    padding: 10px;
    border-radius: 4px;
    color: #b9b9b9;
    cursor: pointer;
}

    input[type=submit]:hover {
        border: 1px solid #828282;
    }

.topbar {
    margin-left: 15px;
    color: #c5c5c5;
    overflow: hidden;
    height: 50px;
}

.topbar-icon {
    margin-right: 5px;
    margin-bottom: -9px;
}

.btn-info {
    position: absolute;
    border: 2px solid #3c3c3c;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-left: 10px;
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 4px;
    top: 15px;
    right: 20px;
    cursor: pointer;
    background: url(../images/ui/info.svg);
    background-size: 20px;
    background-color: #1b1b1b;
    background-repeat: no-repeat;
    background-position: center;
}

    .btn-info:hover {
        background-color: #2b2b2b;
        outline: 0;
    }

.btn-download {
    position: absolute;
    border: 2px solid #3c3c3c;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-left: 10px;
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 4px;
    top: 15px;
    right: 65px;
    cursor: pointer;
    background: url(../images/ui/download.svg);
    background-size: 20px;
    background-color: #1b1b1b;
    background-repeat: no-repeat;
    background-position: center;
}

    .btn-download:hover {
        background-color: #2b2b2b;
        outline: 0;
    }

.image-preview {
    max-width: 80%;
    max-height: 80%;
    box-shadow: 6px 3px 20px 3px #00000091;
    -webkit-animation: fadein 0.8s;
    -moz-animation: fadein 0.8s;
    -ms-animation: fadein 0.8s;
    -o-animation: fadein 0.8s;
    animation: fadein 0.8s;
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
}

#loader-horizontal {
    height: 4px;
    top: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: transparent;
}

    #loader-horizontal:before {
        display: block;
        position: absolute;
        content: "";
        left: -500px;
        width: 30%;
        height: 4px;
        background-color: white;
        animation: loading 1s linear infinite;
    }

@keyframes loading {
    from {
        left: -600px;
    }

    to {
        left: 100%;
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}


.sweet-alert p {
    color: #cecece;
}

.sweet-alert {
    background-color: #171717e0;
    border: 1px solid #232323;
    border-radius: 5px;
    text-align: left;
    padding-left: 51px;
    padding-top: 35px;
}

.sa-button-container {
    display: none;
}

.gridItem-folder {
    width: 182px;
    border-radius: 3px;
    height: 10px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    color: white;
    background: #292929a8;
    border-bottom: 1px solid #353434;
    box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.22);
    padding: 17px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

.grid-icon {
    height: 37px;
    float: left;
    width: 32px;
    margin-top: -13px;
    margin-left: -7px;
    outline: none;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-text {
    font-size: 13px;
    margin-top: -2px;
    margin-left: 11px;
    color: #bfbfbff2;
    float: left;
    max-width: 50%;
    overflow: hidden;
    height: 16px;
}

.grid-file-icon {
    height: 37px;
    float: left;
    width: 32px;
    margin-top: -14px;
    margin-left: -7px;
    outline: none;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-position: center;
}

#listings {
    position: relative;
    margin-bottom: 15px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    -webkit-animation: fadein 0.9s;
    -moz-animation: fadein 0.9s;
    -ms-animation: fadein 0.9s;
    -o-animation: fadein 0.9s;
    animation: fadein 0.9s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#file-viewer {
    display: none;
    position: fixed;
    top: 0;
    z-index: 9;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#000000eb 1%, #1e1e1ef2 99%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: fadein 0.2s;
    -moz-animation: fadein 0.2s;
    -ms-animation: fadein 0.2s;
    -o-animation: fadein 0.2s;
    animation: fadein 0.2s;
}

.file-viewer-content {
    position: relative;
    background-color: #232323;
    border-radius: 4px;
    overflow-y: auto;
    max-width: 300px;
    color: white;
    margin-bottom: 15px;
    margin-top: 200px;
    padding-top: 45px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 40px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    border: 2px solid #2d2d2d;
}

.file-viewer-topbar {
    position: absolute;
    left: 10px;
    top: 0;
    color: #c5c5c5;
    overflow: hidden;
    height: 50px;
}

.file-viewer-icon {
    margin-right: 5px;
    margin-bottom: -9px;
}

.file-viewer-preview {
    max-width: 80%;
    max-height: 80%;
    box-shadow: 6px 3px 20px 3px #00000091;
    -webkit-animation: fadein 0.8s;
    -moz-animation: fadein 0.8s;
    -ms-animation: fadein 0.8s;
    -o-animation: fadein 0.8s;
    animation: fadein 0.8s;
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
}

#file-viewer-box {
    margin-bottom: 30px;
}

.btn-download-viewer {
    position: absolute;
    border: 2px solid #3c3c3c;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-left: 10px;
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 4px;
    top: 15px;
    right: 20px;
    cursor: pointer;
    background: url(../images/ui/download.svg);
    background-size: 20px;
    background-color: #1b1b1b;
    background-repeat: no-repeat;
    background-position: center;
}

    .btn-download-viewer:hover {
        background-color: #2b2b2b;
        outline: 0;
    }

.gridItem-file {
    width: 100%;
    height: 6px;
    display: inline-block;
    padding: 21px;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    -ms-animation: fadein 0.5s;
    -o-animation: fadein 0.5s;
    animation: fadein 0.5s;
    overflow: hidden;
}

    .gridItem-file:hover {
        background-color: #0000000a;
        outline: 0;
    }

#sorting-arrow {
    height: 20px;
    margin-bottom: -5px;
    cursor: pointer;
    filter: invert(0.45);
}

#sorting-arrow-down {
    height: 20px;
    margin-bottom: -5px;
    cursor: pointer;
    transform: rotate(180deg);
    filter: invert(0.45);
}

#sorting-arrow:hover {
    filter: invert(0.25);
}

#sorting-arrow-down:hover {
    filter: invert(0.25);
}

.sorting-option-left {
    text-decoration: none;
    color: #6d6d6d;
    cursor: pointer;
}

    .sorting-option-left:hover {
        text-decoration: none;
        color: #6d6d6d;
        cursor: pointer;
    }

.sorting-option:hover {
    text-decoration: none;
    color: #6d6d6d;
    cursor: pointer;
}

.sorting-option {
    text-decoration: none;
    float: right;
    color: #6d6d6d;
    cursor: pointer;
}

#sort-box {
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid #0000002e;
    margin-bottom: 5px;
}

#file-listing {
    background-color: #27272740;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.09);
    margin-bottom: 5px;
    padding-bottom: 6px;
    display: none;
}

@media all and (max-width: 535px) {
    .grid-text-right {
        display: none;
    }
}

.grid-text-right {
    font-size: 13px;
    margin-top: -8px;
    color: #6f6f6ff2;
    float: right;
}
